<%@ Master Language="C#" MasterPageFile="~/SiteContabilita.Master" AutoEventWireup="true" CodeBehind="local.master.cs" Inherits="corrispettivi.web.contabilita.callcenter.local" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>
<asp:Content ID="localHead" ContentPlaceHolderID="masterHead" Runat="Server">
    
</asp:Content>
<asp:Content ID="localMain" ContentPlaceHolderID="masterMain" Runat="Server">
    <asp:ContentPlaceHolder id="cphHeader" runat="server" />
    <asp:ContentPlaceHolder id="cphMain" runat="server" />
</asp:Content>